
html{
background: #000 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
    text-decoration:none;
    color: inherit;;
}
a:link {
    text-decoration: none ;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



body{
    height: 100%;
    margin:0;
        overflow:hidden;
}
.a{
  /*  position: fixed;
  top: 45%;
  left: 48%;
    width: 35%;
  transform: translate(-50%, -50%);
    */
    
    width:35%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
transform: translateZ(20px);
    margin: auto;
}

.link{
    position: fixed;
    text-decoration: none;
    font-size: 25px;
    color:white;
    font-family: "Montserrat";
    letter-spacing: 10px;
    
}

.spate{
    width:35%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
transform-style: preserve-3d;
    margin: auto;
}

.port{
    left:0;
}
.cont{
    right: 0;
}

.hmu{
    color:white;
    font-family: "Montserrat";
    position:fixed;
    top: 10%;
    left: 50%;
    font-size: 70px;

}
.hfu{
    position:fixed;
    top:20%;
    width:20%;
    animation: hfu 3s infinite;
}

.conti{
    color:white;
    font-family: "Montserrat";
    font-size: 10px;
    position:fixed;
    top:30%;
    left:56%;
}



@keyframes hfu{
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100{
        transform: rotate(360deg);
    }
}



.sklz{
    max-width: 100%;
    z-index: 1;
    color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    font-size: 10em;
    font-family: "Times New Roman";
    color: white;
     position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}

.cut2{
   
    width:100%;
    height:100%;
    background-color:   white;
position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
    

}

.cut1{
   
    width:100%;
    height:4%;
    background-color:   white;
position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
    animation-delay: 0.75s;
    animation: lepo 2s;
    animation-fill-mode: forwards;

}
@keyframes lepo{
    
    from{
        height:4%;
        color: white;
    }
    to{
        height: 100%;
        color: black;
    }
    
}




.to{
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
    position: fixed;
  top: 48%;
  left: 10%;
  transform: translate(-50%, -50%);
}


.web{
     z-index: 2;
    color: black;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    font-size: 10em;
    font-family: "Times New Roman";
     position: fixed;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
}


.gra{
    z-index: 2;
    color: black;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    font-size: 10em;
    font-family: "Times New Roman";
     position: fixed;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
}


.sklz1{
    z-index: 1;
    color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    font-size:800%;
    font-family: "Times New Roman";
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;

	
    
}

.desc{
     z-index: 1;
    color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    font-size: 2em;
    font-family: "Times New Roman";
    color: white;
    text-align: center;
    
    
    
}


.imgp{
    width:20%;
    display:flex;
    
}

.nmk{
    height: 20%;
    width: 100%;
}

.po{
    display: flex;
    justify-content: flex-start;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}


.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1;  }


.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65%; }
.span_1_of_3 { width: 30%; }

.po{
    max-width: 100%;
    height: auto;
}

@keyframes ole{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.ambalaj{
    animation: ole 3s;
}

.mihai{
    color: black;
    margin: 20px;
    z-index: 2;
    position: relative;
}

.bobita{
    color: white;
    margin: 10px;
}

.andrei{
    position: relative;
    margin: 20px;
    z-index: 2;
    animation: lepo 5s;
    animation-delay: 3s;
}
.gifi{
    max-width: 100%;
       position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.subi{
    text-decoration: underline !important;
    
}

.spam{
    color: white;   
    text-align: center;
    font-family: "Times New Roman";
   position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.acc{
	width:10%;
	
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media only screen and (max-width: 1000px) {
     .a{
        width: 75%;
    }
    .spate{ 
    width: 75%;
    }
    
    
    
    
}

@media only screen and (max-width: 500px) {
   
    .link{
        font-size: 20px;
    }
    
    
	.acc{
		width: 30%;
	}
	.sklz1{
		font-size: 400%;
		text-align: center;
		
	}
    .spam{
        top: 65%;   
    }
    .sklz{
        font-size: 500%;
    }
    
    .web{
        font-size: 500%;
        
    }
    .gra{
        font-size:500%;
        left: 40%;
    }
    .pliz{
        width: 50%;
    }
    
}
